<html>

<head>
<title>title</title>
</head>

<body>

	<div th:insert="header.html"></div>

    <button type="button" onclick="loadApi();" >View Posts</button>

	<table width="100%" class="table table-stripted">

		<thead>
			<tr class="danger">
				<td>UserId</td>
				<td>ID</td>
				<td>Title</td>
				<td>Body</td>
			</tr>
		</thead>
		
		<tbody id="tbody">
		
		</tbody>

	</table>

    <script type="text/javascript">
    
   function  loadApi(){ 
    $(document).ready(function() {
        $.ajax({
            url: "https://jsonplaceholder.typicode.com/posts"
        }).then(function(data) {
              
        	 
        	   var post = '';
        	   
        	   for(var i=0; i<data.length; i++){
        		   post += '<tr class="success">';
        		   post += '<td>'+data[i].userId+'</td>';
        		   post += '<td>'+data[i].id+'</td>';
        		   post += '<td>'+data[i].title+'</td>';
        		   post += '<td>'+data[i].body+'</td>';
        		   post += '</tr>';
        	   }
                      
        	   $('#tbody').append(post);
        });
    });
    
  }
		    
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>

</html>